body{
    background-color: rgb(250, 242, 231);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#name{
    color: rgb(255, 255, 255);
    font-size-adjust: 1.1;
    /* font-size-adjust: .7; */
}

#major{
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.405);
}

#lead{
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top:50px;
    padding-bottom:50px;
    background-color: #723025;
    font-size-adjust: .8;
    
}

#lead_table{
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
}



#main_content{

    text-align: center;
    padding-left: auto;
    position: relative;
    left: auto;
    top: auto;
}

.button{
    
    color: #ffffff;
    text-align: center;
    background-color: #5e9ac200;
    padding: 10px;
    border-width: 4px;
    border-radius: 50px;
    border-color: #ffffff;
    border-style: solid;
    text-decoration: none;
    
}

#pfp_image{
    border-radius: 500px;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(245, 245, 245, 0.705);
}

#pfp{
    padding-left: 150px;
}


.heading_text{
    
    font-size: x-large;
    text-align: center;
    letter-spacing: .6px;
    font-size-adjust: 1;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 60px;
    color: #3c1f1a;
}
.dotted{
    margin-top: 80px;
    border-color:#3c1f1a7a;
}
#education, #work{
    padding-top: 50px;
    text-align: center;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    margin-bottom: 150px;
}
.ed_col{
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
#objective{
   
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top:10px;
    padding-bottom:200px;
    background-color: #4c3632;
    font-size-adjust: .8;
}
#obj_heading_txt{
    font-size-adjust: 4;
    text-align: center;
    letter-spacing: .6px;
    font-size-adjust: 1;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 60px;
    color: #ffffff;
}
#obj_body{
    
    text-align: center;
    padding-top:100px;
    padding-bottom:100px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #e5e1e0;
    font-size-adjust: .6;
    position: relative;
    top:-250px;
}
li{
    font-size-adjust: .6;
}
#skills_table{
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
}

